ipykernel
fastapi
pydantic
langgraph
langchain
langchain-anthropic
langchain-core
langchain_community
pillow
langchain-nvidia-ai-endpoints
python-dotenv
langchain-groq
langsmith
tiktoken
uvicorn
python-multipart
colorlog
httpx
jinja2
tqdm